@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(243, 241, 245);
}

header {
    background-color: rgb(241, 206, 129);
    padding: 1em 0 1em 0;
    margin-bottom: 4em;
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 1.2px;
    font-family: 'Paytone One', sans-serif;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.30);
    color:rgb(44, 43, 46);
}

.lists-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}